<div class="backgroun-linear d-flex flex-wrap align-content-center gap-5 justify-content-center align-items-center p-1 w-100 min-vh-100">

    <h1 class="w-100 text-white text-center m-0">Auth MEAN <i class="bi bi-fingerprint"></i></h1>

    <form autocomplete="off" (ngSubmit)="Login();" class="form-pretty mb-5" [formGroup]="form">

        <div class="backgorund-c1"></div>
        <div class="backgorund-c2"></div>
    
        <h3><i class="bi bi-box-arrow-in-right fs-2 fw-bold"></i> Login</h3>
    
        <!-- Input email -->
        <div class="w-100 mb-2">
          <div class="input-group">
            <div class="form-floating">
              <input 
                class="form-control"
                type="email"
                id="email"
                placeholder="Email"
                formControlName="email"
              >
              <label for="email">Email</label>
            </div>
            <span class="input-group-text fs-3"><i class="bi bi-envelope-check-fill"></i></span>
          </div>
          <!-- Mensaje error input -->
          <div class="w-100" *ngIf="ValidInput.valid('email')">
            <span class="fs-6 text-danger">The email field is required, min 3 chars</span>
          </div>
        </div>
    
        <!-- Input password -->
        <div class="w-100 mb-5">
          <div class="input-group">
            <div class="form-floating">
              <input 
                class="form-control"
                type="password"
                id="password"
                placeholder="Password"
                formControlName="password"
              >
              <label for="password">Password</label>
            </div>
            <span class="input-group-text fs-3"><i class="bi bi-shield-check"></i></span>
          </div>
          <!-- Mensaje error input -->
          <div class="w-100" *ngIf="ValidInput.valid('password')">
            <span class="fs-6 text-danger">The password field is required, min 6 chars, max 18 chars</span>
          </div>
        </div>
    
        <!-- btn x2 -->
        <div class="row justify-content-between mt-1">
          <div class="col-5 d-flex align-items-end">
            <a class="text-decoration-underline text-primary fs-6 cursor-pointer" routerLink="../logup">I not have an account</a>
          </div>
          <div class="col-5 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100 py-2" [disabled]="form.invalid"><i class="bi bi-box-arrow-in-down-right"></i>Login</button>
          </div>
        </div>
        
    </form>
</div>
<!-- spinner -->
<app-spinner1 [fullScreen]="true" [visible]="SpinnerActive" text="Loading..."></app-spinner1>