<div class="backgroun-linear d-flex flex-wrap align-content-center gap-5 justify-content-center align-items-center p-1 w-100 min-vh-100">

    <h1 class="w-100 text-white text-center m-0">Auth MEAN <i class="bi bi-fingerprint"></i></h1>

    <form autocomplete="off" class="form-pretty mb-5">

        <div class="backgorund-c1"></div>
        <div class="backgorund-c2"></div>
    
        <h3><i class="bi bi-box-arrow-in-right fs-2 fw-bold"></i> Logup</h3>
    
        <!-- Input x2 -->
        <div class="row">
          <div class="col-md-6">
            <!-- Input FullName -->
            <div class="w-100 mb-2">
              <div class="input-group">
                <div class="form-floating">
                  <input 
                    class="form-control"
                    type="text"
                    id="fullName"
                    placeholder="Full Name"
                    formControlName="fullName"
                  >
                  <label for="fullName">Full Name</label>
                </div>
                <span class="input-group-text fs-3"><i class="bi bi-person-circle"></i></span>
              </div>
              <!-- Mensaje error input -->
              <div class="w-100" >
                <span class="fs-6 text-danger"></span>
              </div>
            </div>
          </div>
    
          <div class="col-md-6">
            <!-- Input UserName -->
            <div class="w-100 mb-2">
              <div class="input-group">
                <div class="form-floating">
                  <input 
                    class="form-control"
                    type="text"
                    id="userName"
                    placeholder="User name"
                    formControlName="userName"
                  >
                  <label for="userName">User name</label>
                </div>
                <span class="input-group-text fs-3"><i class="bi bi-person-check-fill"></i></span>
              </div>
              <!-- Mensaje error input -->
              <div class="w-100" >
                <span class="fs-6 text-danger"></span>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Input email -->
        <div class="w-100 mb-2">
          <div class="input-group">
            <div class="form-floating">
              <input 
                class="form-control"
                type="email"
                id="email"
                placeholder="Email"
                formControlName="email"
              >
              <label for="email">Email</label>
            </div>
            <span class="input-group-text fs-3"><i class="bi bi-envelope-check-fill"></i></span>
          </div>
          <!-- Mensaje error input -->
          <div class="w-100" >
            <span class="fs-6 text-danger"></span>
          </div>
        </div>
    
        <!-- Input password -->
        <div class="w-100 mb-2">
          <div class="input-group">
            <div class="form-floating">
              <input 
                class="form-control"
                type="password"
                id="password"
                placeholder="Password"
                formControlName="password"
              >
              <label for="password">Password</label>
            </div>
            <span class="input-group-text fs-3"><i class="bi bi-shield-check"></i></span>
          </div>
          <!-- Mensaje error input -->
          <div class="w-100" >
            <span class="fs-6 text-danger"></span>
          </div>
        </div>
    
        <!-- Input password -->
        <div class="w-100 mb-2">
          <div class="input-group">
            <div class="form-floating">
              <input 
                class="form-control"
                type="password"
                id="repeatPassword"
                placeholder="Repeat Password"
                formControlName="repeatPassword"
              >
              <label for="repeatPassword">Repeat Password</label>
            </div>
            <span class="input-group-text fs-3"><i class="bi bi-shield-fill-check"></i></span>
          </div>
          <!-- Mensaje error input -->
          <div class="w-100" >
            <span class="fs-6 text-danger">* Passwords do not mathch</span>
          </div>
        </div>
    
        <!-- btn x2 -->
        <div class="row justify-content-between mt-1">
          <div class="col-5 d-flex align-items-end">
            <span class="text-decoration-underline text-primary fs-5">I have an account</span>
          </div>
          <div class="col-5 d-flex align-items-end">
            <button type="button" class="btn btn-primary w-100 py-2"><i class="bi bi-box-arrow-in-down-right"></i>Login</button>
          </div>
        </div>
        
    </form>
</div>
